<div id="supercontainer">

  <div id="wrappers">
    <div class="statustext" *ngIf="gameSession.gameOver">
    The game is now finished!
  </div>
    <div id="wrapper1">
      <div style="border: #b30000 1px solid" #circlewrapper (resized)='onResized($event)' class="wrapper">


        <div *ngIf="gameSession" style="text-align: center">Turn User : {{gameSession.activeUserId}} </div>
        <div *ngIf="gameSession && redirectMessage" style="text-align: center"> {{redirectMessage}} </div>
        <div *ngIf="gameSession&& errormessage" style="text-align: center">Turn User : {{errormessage}} </div>


        <div *ngFor="let circlenr of nrOfCirclesArray">
          <div id="{{'circle' + circlenr}}" class="circle"
               [ngStyle]="{height: (circlenr*increment+minwidth) + '%', width: (circlenr*increment+minwidth) + '%'}">
          </div>
        </div>

        <div *ngFor="let cardnr of nrOfCardsArray">
          <div #card id="{{'card' + cardnr}}" class="cardcircle"
               [ngStyle]="{bottom: getCardPositionY(cardnr,card.id) + 'px', left: getCardPositionX(cardnr, card.id)+'px'}"
               [style.background-color]=getCardColor(cardnr) (mouseleave)="onCardMouseLeave()"
               (mouseenter)="onCardHover(cardnr)" [class.cardcirclehover]="(cardnr) === cardfocusedId"></div>
        </div>
      </div>
    </div>
    <div id="wrapper2">
      <div id="cardcontainer">
        <div *ngFor="let card of getCards()">
          <div id="cardpreview" (mouseleave)="onCardMouseLeave()" (mouseenter)="onCardHover(card.id )"
               [class.cardhover]="card.id === cardfocusedId" class="container" (click)="onCardClick()">
            <img id="cardimage" *ngIf="card.imageUrl" [src]='card.imageUrl' style="width: 100%; height: 100%"/>
            <div id="cardtext">{{card.cardText}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div #chatbox id="chatbox" [ngStyle]="{}">
    <div #scrollMe class="scroll" id="style-1">
      <div class="container">
        <div *ngFor="let chatMessage of chatMessages"
             [ngClass]="[chatMessage.origin.includes('Saffet')  ? 'message me' : 'message you']">
          <span class="name">{{chatMessage.origin}}</span>
          <br>
          <span class="content">{{chatMessage.content}}</span>
        </div>
      </div>
    </div>

    <app-chat-form (onMessageEvent)="onMessageCreated($event)"></app-chat-form>

  </div>
</div>
