@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  margin: 0;
  padding: 0;

}
.circle {
  border-radius: 50%;
  border: 1px solid red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;


}

.wrapper {
  display: inline-block;
  min-width: 500px;
  min-height: 500px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 70%;
}

.cardcircle {
  width: 3%;
  height: 3%;

  min-width: 10px;
  min-height: 10px;

  border-radius: 50%;


  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* This timing applies on the way OUT */
  transition-timing-function: ease-in-out;

  /* Quick on the way out */
  transition: 0.5s;


}

.statustext {
  flex-basis: 100%;
  text-align: center;
  font-size: xx-large;
  margin-left: -11%;
}

.cardcirclehover {

  transform: scale(1.5);

}


.disabled {
}


#cardcontainer {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;

  width: 70%;
  height: 50%;

  min-width: 500px;
  min-height: 500px;

  position: relative;
  padding: 1%;
  left: 0;
}

#cardpreview {

  background-color: #f3ea5f;

  height: 100%;
  width: 100%;

  position: relative;


  overflow: hidden;

  border-radius: 25px;

  border-style: solid;

  transition: all 0.2s ease-in-out;

}

.cardhover {
  cursor: pointer;
  transform: scale(1.1);
}


#modal {

}

#cardimage {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;

}

#cardimage:hover {

  opacity: 0.3;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;

}

#cardtext {

  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cardcreatemenu {


}


#supercontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  align-content: flex-start;

}

#chatbox {
  flex-basis: 30%;
  height: 100%;
  right: 0;
  top: 0;
  width: 20%;
  position: fixed;

  display: flex; /* relevant part */
  flex-direction: column; /* relevant part */
  overflow: hidden; /* relevant part */

  border: 1px saddlebrown solid;

}

#chatbox .scroll {
  overflow-y: auto;
}

.scroll {
  height: 100%;
}

.container {
  height: 100%;
  padding: 20px;
  background: #fff;
  display: inline-flex;
  flex-flow: row wrap;
  align-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.message {
  flex: 0 0 100%;
  display: block;
  width: 100%;

  height: auto;
  padding: 0 40px 0px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message span {
  text-align: left;
  display: inline-block;
  background: #f1f0f0;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px;
  border-radius: 4px 20.8px 20.8px 4px;
  border-radius: 20.8px;
  max-width: calc(20vw - 80px);

}

.message.you {
  text-align: left;
  padding: 0px 40px 10px 0px;
}

.message.you .content {

  text-align: left;
  display: inline-block;
  background: #f1f0f0;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px;
  border-radius: 4px 20.8px 20.8px 4px;
  border-radius: 20.8px;
  max-width: calc(20vw - 80px);
}

.message.you .name {
  color: lightgrey;
  background-color: transparent;
  font-style: italic;
  font-size: small;
  text-align: left;
  padding: 0 40px 0 0;
}


.message.me {
  text-align: right;
  padding: 0 0 0 40px;
}

.message.me .content {
  color: #fff;
  /* The great trick is in these lines. */
  /*background-image: linear-gradient(red,yellow);*/
  background-color: red;
  background-size: cover;
  background-attachment: fixed;
  /*   you can also use images. Try to uncomment this line: */
  /*    background-image: url('https://i.pinimg.com/originals/db/b9/32/dbb932daf7e82c07cceff15742b1e196.jpg'); color: #000; */
}

.message.me .name {
  color: lightgrey;
  background-color: transparent;
  font-style: italic;
  font-size: small;
  text-align: right;
  padding: 0 0 0 40px;
}

/* only border-radius settings */
.message.start span {

  border-radius: 20.8px 20.8px 20.8px 4px;
}

.message.mid span {
  border-radius: 4px 20.8px 20.8px 4px;
}

.message.end span {
  border-radius: 4px 20.8px 20.8px 20.8px;
}

.message.me.start span {
  border-radius: 20.8px 20.8px 4px 20.8px;
}

.message.me.mid span {
  border-radius: 20.8px 4px 4px 20.8px;
}

.message.me.end span {
  border-radius: 20.8px 4px 20.8px 20.8px;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

@media (max-width: 1200px) {
  #cardcontainer {
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-template-rows: repeat(3, 1fr);*/
    /*width: 70%;*/

  }

  #chatbox {
    visibility: hidden;
  }

  #cardcreatemenu {
    padding: 10px;
  }
}

@media (max-width: 650px) {
  #cardcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

#wrappers {
  width: 60%;

}

#wrapper1 {
  width: 100%;
  height: 100%;
}

#wrapper2 {
  width: 100%;
  height: 100%;
}

@media (max-width: 1460px) {
  #cardcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}


body {
  background: #222;
}
.video-play-button {
  position: absolute;

  top: calc(100px + 7%);
  left: 7%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 24px;
  height: 33px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 25px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}
.video-play-button:hover:after {
  background-color: #da0528;
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 24px solid #fff;
  border-top: 16.5px solid transparent;
  border-bottom: 16.5px solid transparent;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.80);
  opacity: 0;
  transition: all ease 500ms;
}
.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}
.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}
.video-overlay-close:hover {
  color: #fa183d;
}
.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}



.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}







