<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>Are you sure you want to select this card?</p>
  <div id="cardpreview"  *ngIf="data.card.imageBase64Url || data.card.name" class="container">
    <img  id="cardimage" *ngIf="data.card.imageBase64Url" [src]='data.card.imageBase64Url'/>
    <div id="cardtext">{{data.card.name}}</div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button (click)="onYesClick(data.card)">Yes</button>
</div>
