#cardpreview {

  width: 250px;
  height: 150px;
  position: relative;

  overflow: hidden;
  margin: 10%;
  border-radius: 25px;

  border-style: solid;


}

#modal {

}

#cardimage {


  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;

}

#cardimage:hover {

  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;

}

#cardtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*mat-card {*/

/*width: 100px;*/
/*height: 50px;*/
/*word-break: break-all;*/

/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/


/*}*/
