<!--<form class="example-form" style="width: 100%">-->
<!--<mat-form-field class="example-full-width">-->
<!--<input matInput  style="width: 100%" placeholder="message" class="" [(ngModel)]="message" (keydown)="handleSubmit($event)"/>-->
<!--</mat-form-field>-->
<!--</form>-->
<!--<button class="chatButton"-->
<!--(click)=send() mat-button="">Send-->
<!--</button>-->


<form class="" style="height: 30px" >
  <input (keydown)="handleSubmit($event)" [(ngModel)]="message" name="msg" type="text" style="height: 100%;display: inline-block" class="form-control col-lg-10" id="exampleInputMessage" aria-describedby="messageHelp" placeholder="Enter message">
  <button (click)="handleSubmit($event)" type="submit"  style="height: 100%;display: inline-block" class="btn-info col-lg-2">Send</button>
</form>

