<h1>My Themes</h1>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="text-center">
  <p class="lead" *ngIf="loader">Loading...</p>
</div>

<div *ngIf="!loader" class="example-container mat-elevation-z8">
  <mat-table class="themetable" #themetable #matSort="matSort" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Theme Name</mat-header-cell>>
      <mat-cell id="themeName" *matCellDef="let theme"> {{theme.name}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Theme Description</mat-header-cell>>
      <mat-cell *matCellDef="let theme"> {{theme.description}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="tag">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tags</mat-header-cell>>
      <mat-cell *matCellDef="let theme"> {{theme.tag}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
      <mat-cell *matCellDef="let theme">
        <i (click)="editTheme(theme)" id="editbutton" class="fa fa-pen actionButton"></i>
        <i (click)="deleteTheme(theme)" id="deletebutton" class="fa fa-trash actionButton"></i>
        <i (click)="onTheme(theme)" id="themebutton" class="fa fa-angle-right actionButton"></i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
    <mat-row *matRowDef="let theme; columns: displayedColumns;"></mat-row>>
  </mat-table>

  <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<div class="mat-error" *ngIf="error">
  An unexpected error occurred retrieving themes.
</div>

  <button mat-raised-button id="themeCreate" (click)="open(content)" color="warn">
    <mat-icon>add</mat-icon>
  </button>

<ng-template id="modal" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new theme</h4>
    <button #cancel id="closebutton" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="themeform">
      <div class="form-group">
        <!-- Form moet een formControlName hebben om te werken met NgModel!-->
        <mat-form-field>
          <input id="name" name="ThemaName" formControlName="naam" required [(ngModel)]="naam" matInput placeholder="Naam">
        </mat-form-field>
        <mat-form-field>
          <input id="description" name="ThemaDescription" formControlName="beschrijving" required [(ngModel)]="beschrijving" matInput placeholder="Beschrijving">
        </mat-form-field>
        <mat-form-field>
          <input id="tag" name="ThemaTag" formControlName="Tag" [(ngModel)]="tag" matInput placeholder="Tag">
        </mat-form-field>
        <p>
        </p>
      </div>
      <button id="postTheme" class="btn btn-outline-success" type="button" [disabled]="!themeform.valid" (click)="postTheme();modal.close()">Submit</button>

    </form>
  </div>
</ng-template>


