@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.version-info {
  font-size: 8pt;
  float: right;
}

mat-table {
  width: 100%;
  margin-top: 2%;
  margin-left: 1%;
}

.themetable i {
  padding-right: 3%;
}

.mat-chip-list {
  width: 100%;
}

.mat-row:hover {
  background-color: inherit;
}

h1 {
  margin: 5px;
}

.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-form{
  width: 70%;
  min-width: 40%;
  margin: 3em;
  padding: 1em;
  border: 2px solid black;
}
.themeView {
    border: 2px black solid;
    width: 25%;
    min-width: 275px;
    margin: 2em;
    margin-top: 4em;
    padding: 2em;
    background-color: cadetblue;
    display: flex;
    justify-content: center;


}

.actionButton {
  margin-left: 1%;
  margin-right: 1%;
}

.actionButton:hover {
  cursor: pointer;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}
