#cardcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  border: 2px solid blue;
  width: 100%;
  min-height: 200px;
  position: relative;
  padding: 2%;
  margin: 5%;
}


@media (max-width: 1300px) {

  #cardcontainer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}


@media (max-width: 990px) {

  #cardcontainer {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-height: 500px;

  }

  #cardcreatemenu {

    padding: 10px;


  }
}

@media (max-width: 650px) {

  #cardcontainer {
    grid-template-columns: repeat(2, 1fr);

  }
}


#cardpreview {

  position: relative;


  overflow: hidden;

  border-radius: 25px;

  border-style: solid;

  min-height: 80px;
  min-width: 80px;
  max-width: 200px;
}


#modal {

}

#cardimage {


  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;

}

#cardimage:hover {

  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;

}

#cardtext {

  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cardcreatemenu {
}


#supercontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
