<div id="cardCreated" *ngIf="activeCardCreationResponse && !cardCreationError" class="alert-success">Card Created!</div>
<div *ngIf="activeCardCreationResponse &&  cardCreationError" class="alert-danger">{{cardCreationError}}</div>

<div id="supercontainer" class="container-fluid">
  <div id="cardcontainer" >
  <div id="cardpreview"  *ngFor="let card of this.getCards()">
    <img id="cardimage" [src]='card.imageBase64Url'/>
    <div id="cardtext">{{card.name}}</div>
  </div>
    <app-card-creator
      [ngClass]="{'disablecardcreation' : activeCardCreationResponse}"
      id="cardcreatemenu" (createcard)="onCardCreated($event)"
      (createcarderror)="onCardCreatedError($event)">
    </app-card-creator>
</div>
<div>
</div>
</div>
