<div>
  <button class="btn" routerLink="/themes">
    <i class="fa fa-angle-left"></i> Back to themes
  </button>
</div>
<div *ngIf="theme==null" class="alert-danger">No Theme found</div>
<div *ngIf="themeMade">
  <div class="kaartInfo">
    <p>Cards for Theme: {{theme.name}}</p>
  </div>
  <div class="cardZone">
    <app-card-overview [theme]="theme.id"></app-card-overview>
  </div>
  <div> <!-- *ngIf="theme==null"> -->
    <button id="navigateSession" class="btn" (click)="onSessions()">
      Go to this Theme's Sessions <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>
