.themeInfo {
  margin: 2em 5em;
  font-size: large;
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: repeat(4,1fr);
}

.kaartInfo {
  margin: 0 2em;
  font-size: 2em;
  text-align: center;
}

.themeInfo div{
  border: 1px black solid;
  padding: 2em;
  background-color: beige;
  min-height: 60%;
  border-radius: 25px;
  position: relative;
  min-width: 80%;
}

.themeName {
  grid-column: 1;
  grid-row: 1;

}

.themeDescription {
  grid-column: 2;
  grid-row: 1;
}

.themeTag {
  grid-column: 3;
  grid-row: 1;
}

.cardZone {
  margin: 0 5%;
  min-width: 80%;
}


