/* the magic is on line 66 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{

}


.supercontainer{

  display: flex;

  height: 70%;

  justify-content: space-around;


  margin-top: 10%;



}


.scroll{


  border: 1px solid blue;



  height: 40%;
  overflow-y: auto;
}
.container{
  padding: 20px;
  background: #fff;
  display: inline-flex;
  flex-flow: row wrap;
  align-content: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message{
  flex: 0 0 100%;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 40px 0px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message.blank{
  height: 20px;
}

.message span{
  text-align: left;
  display: inline-block;
  background: #f1f0f0;
  color: #000;
  margin: 1px 0;
  padding: 6px 12px;
  border-radius: 4px 20.8px 20.8px 4px;
  border-radius: 20.8px;
  max-width: calc(50% - 80px);
}

.message.me{
  text-align: right;
  padding: 0 0 0 40px;
}
.message.me span{
  color: #fff;
  /* The great trick is in these lines. */
  background-image: linear-gradient( 180deg, #EE9AE5 10%, #5961F9 100%);
  background-size: cover;
  background-attachment: fixed;
  /*   you can also use images. Try to uncomment this line: */
  /*    background-image: url('https://i.pinimg.com/originals/db/b9/32/dbb932daf7e82c07cceff15742b1e196.jpg'); color: #000; */
}
/* only border-radius settings */
.message.start span{
  border-radius: 20.8px 20.8px 20.8px 4px;
}
.message.mid span{
  border-radius: 4px 20.8px 20.8px 4px;
}
.message.end span{
  border-radius: 4px 20.8px 20.8px 20.8px;
}

.message.me.start span{
  border-radius: 20.8px 20.8px 4px 20.8px;
}
.message.me.mid span{
  border-radius: 20.8px 4px 4px 20.8px;
}
.message.me.end span{
  border-radius: 20.8px 4px 20.8px 20.8px;
}
