
<div class="supercontainer">
<div class="scroll">
  <div class="container">
    <div class="message start me">
      <span>qsdqsdqsdqsdqsdqsdqsdqsdqsd</span>
    </div>
    <div class="message end me">
      <span>Let's play a game</span>
    </div>
    <div class="message you">
      <span>Ok</span>
    </div>
    <div class="message start me">
      <span>For the next 5 interactions, you may only send messages constructed from your keyboard predictive text choices</span>
    </div>
    <div class="message end me">
      <span>Go.</span>
    </div>
    <div class="message you">
      <span>I am going to be in the world to see if you are looking for a couple of days ago.</span>
    </div>
    <div class="message me">
      <span>You are the best thing ever.</span>
    </div>
    <div class="message you">
      <span>Hola como estas</span>
    </div>
    <div class="message me">
      <span>I don't have a lot of fun with my friends</span>
    </div>
    <div class="message you">
      <span>I will not lie to you and your family.</span>
    </div>
    <div class="message me">
      <span>Thanks so much for me and my dad and my mom and my sister</span>
    </div>
    <div class="message blank"></div>
    <div class="message you">
      <span>I have been wanting to be a good time for me.</span>
    </div>
    <div class="message me">
      <span>Ok so I can get it together for the next few years and the next two weeks after the first time since I was in my life</span>
    </div>
    <div class="message you">
      <span>I will have the time to do that for a while now and I will not lie down and talk to your place.</span>
    </div>
    <div class="message me">
      <span>Ok I'm not sure what the next two years of my life is</span>
    </div>
    <div class="message start you">
      <span>Roy is gay :).</span>
    </div>
    <div class="message end you">
      <span>wtf lelelelelel</span>
    </div>
  </div>
</div>
</div>
