<div class="container-fluid col-lg-6 offset-lg-3">
  <app-alert></app-alert>
  <h2>Update </h2>
  <form [formGroup]="editForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" class="form-control" [(ngModel)]="email"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="submitted && f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Invalid email format</div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" class="form-control" [(ngModel)]="userName"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Last Name is required</div>
        <div *ngIf="f.username.errors.minlength">Username must be at least 8 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" class="form-control" [(ngModel)]="password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
      </div>
    </div>
    <input #fileInput id="fileInput" accept="image/x-png,image/gif,image/jpeg" hidden type="file" (change)="fileChange($event.target.files)">

    <label>Profile Image</label>
    <div id="imageUploadButton">
      <button mat-stroked-button (click)="openInput()" color="warn">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="form-group">
      <button id="update" (click)="onSubmit()" [disabled]="!editForm.valid" class="btn btn-primary">Update User</button>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>

</div>
