<h2 style="text-align: center; margin-top: 1%">Select any number of cards to be used in this
  session</h2>
<h4 style="text-align: center; margin-bottom: 1%;">Left-click to select a card, righ-click on a theme card to leave a
  comment. </h4>

<h5  style="text-align: center">User Turn : {{activeUserName}} </h5>

<div >
<button id="skipturnbutton" color="primary" (click)="skipTurn()" mat-raised-button>Skip Turn</button>
</div>
<div >
  <button (click)="startSessionPlayPhase()" *ngIf="currentUserSessionOrganiser" id="startsessionbutton" color="warn" (click)="startSessionPlayPhase()" mat-raised-button>Start Session</button>
</div>


<div id="supercontainer" class="container-fluid">
  <!--<div style="width: 50%" class="cardselectcontainer">-->
  <div class="cardscontainer createcards">
    Cards:
    <div class="cardpreview themecard" *ngFor="let card of ThemeCards" (click)="onThemeCardClickEvent(card)"
         (contextmenu)="openThemeCardRatingModal(card.id, $event)">

      <!--(click)="onThemeCardClickEvent(card)">   -->
      <img *ngIf='card.imageBase64Url' class="cardimage" [src]='card.imageBase64Url'/>
      <div class="cardtext">{{card.name}}</div>
    </div>

    <div class="cardpreview customcard" *ngFor="let customCard of CustomCards"
         (click)="onCustomCardClickEvent(customCard)">
      <img *ngIf='customCard.imageBase64Url' class="cardimage" [src]='customCard.imageBase64Url'/>
      <div class="cardtext">{{customCard.name}}</div>
    </div>

    <app-card-creator style="margin-top: -23%;width: 10%" [ngClass]="{'disablecardcreation' : activeCardCreationResponse}"
                      id="cardcreatemenu" (createcard)="onCardCreated($event)"
    *ngIf="session.userCardsEnabled"></app-card-creator>

    <div id="cardlegend">
      <div id="themecardlegend">
        Theme card :
        <div style="display: inline-block" id="themecardline"></div>
      </div>

      <div id="customcardlegend">
        Custom card :
        <div style="display: inline-block" id="customcardline"></div>
      </div>
    </div>

  </div>

  <div class="cardscontainer cardsselected">
    Selected Card(s):

    <div *ngIf="selectedThemeCard" class="cardpreview themecard"
         (click)="onClickSelectedThemeCard()">
      <img *ngIf='selectedThemeCard.imageBase64Url' class="cardimage" [src]='selectedThemeCard.imageBase64Url'/>
      <div class="cardtext">{{selectedThemeCard.name}}</div>
    </div>
    <div *ngIf="selectedCustomCard" class="cardpreview customcard"
         (click)="onClickSelectedCustomCard()">
      <img *ngIf='selectedCustomCard.imageBase64Url' class="cardimage" [src]='selectedCustomCard.imageBase64Url'/>
      <div class="cardtext">{{selectedCustomCard.name}}</div>
    </div>


    <div id="selectedcardlegend">
      <div id="selectedthemecardlegend">
        Theme card :
        <div style="display: inline-block" id="selectedthemecardline"></div>
      </div>

      <div id="selectedcustomcardlegend">
        Custom card :
        <div style="display: inline-block" id="selectedcustomcardline"></div>
      </div>
    </div>

    <button id="submitcardsbutton" (click)="submitSelectedCard()"  mat-raised-button color="primary"
            style="">Submit Card(s)
    </button>




  </div>




  <div class="sessioncardscontainer">
    Current Cards in Session:

    <div class="cardpreview" [class.themecard]="isThemeCardSessionCard(sessioncard)" [class.customcard]="!isThemeCardSessionCard(sessioncard)" *ngFor="let sessioncard of currentSessionCards">
      <img *ngIf='sessioncard.imageUrl' class="cardimage" [src]='sessioncard.imageUrl'/>
      <div class="cardtext">{{sessioncard.cardText}}</div>
    </div>

    <button  mat-raised-button color="warn" #sessioncardsrefreshbutton id='refreshsessioncardsbutton' (click)="getSessionCards()"
            style="">Get All Session Cards<span style=""><i
      class="fa fa-refresh" id="refreshicon"
      aria-hidden="true"></i></span></button>



  </div>
</div>


<!--<app-rating-modal-content bsModal  #themecardratingmodal></app-rating-modal-content>-->
<!--<ng-template class="modal-dialog" id="themecardratingmodal" #themecardratingmodal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="usermodal-basic-title">Invite users to session</h4>
    <button #cancel type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">

    <app-cardrating #themecardrating></app-cardrating>

  </div>

  <div class="modal-footer">

  <button mat-raised-button class="userinvitebutton" id="submitusermails" color="primary"
          type="button">Invite

  </button>


  <button mat-raised-button class="userinvitebutton" id="cancelusermails" color="warn"
          type="button">
    Cancel
  </button>

  </div>


</ng-template>-->

<!--
<div id="selectedCards">
  Selected cards:
  <ul>
    <li *ngFor="let selectedCard of selectedCards">
      {{selectedCard.name}}
    </li>
  </ul>
</div>
-->

<!--
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:0.5"
  (window:resize)="onResize($event)">
  <mat-grid-tile
    *ngFor="let card of ThemeCards"
    [colspan]="colSpan"
    [rowspan]="rowSpan"
    [style.background]="background"
    (click)="onClick(card)">
    {{card.name}}
  </mat-grid-tile>
</mat-grid-list>
-->
