
.cardscontainer {
  display: grid;

  grid-gap: 1em;

  margin-bottom: 5%;

  border: 10px outset #8cce2e;

  width: 45%;
  min-height: 400px;

  position: relative;

  padding: 2%;

}

.createcards {
  border: 10px outset #8cce2e;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20% 20% 20% auto;

}

#cardcreatemenu {

}

.cardsselected {

  border: 10px outset cornflowerblue;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20% 20% 20% 20% auto;

}

#cardlegend {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: 4;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;

}

#submitcardsbutton {

  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: span 2;

  width: 50%;
  margin-left: 26%;
  margin-top: 50px;

  font-size: 1vw;

}

#refreshsessioncardsbutton {

  grid-column-start: 4;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: 4;

  font-size: 1vw;

  width: 50%;

}

#themecardlegend {

  align-self: center;

  width: 30%;

  min-width: 150px;

}

#customcardlegend {

  align-self: center;
  width: 30%;

  min-width: 150px;

}

#customcardline {
  height: 0;

  vertical-align: middle;

  border: 1px solid black;

  width: 10%;

  padding: 0;

}

#themecardline {
  height: 0;

  vertical-align: middle;

  border: 1px solid red;

  width: 10%;
  padding: 0;

}

#selectedcardlegend {

  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: 4;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;

}

#selectedthemecardlegend {

  align-self: center;

  width: 30%;

  min-width: 150px;

}

#selectedcustomcardline {
  height: 0;

  vertical-align: middle;

  border: 1px solid black;

  margin: 0;

  width: 10%;

}

#skipturnbutton {

  margin: 0 auto;
  display: block;


}

#startsessionbutton {

  margin: 1% auto ;
  display: block;


}

#selectedthemecardline {

  height: 0;

  margin: 0;

  vertical-align: middle;

  border: 1px solid red;

  width: 10%;

}

#selectedcustomcardlegend {

  align-self: center;
  width: 30%;

  min-width: 150px;

}

::ng-deep .blue-snackbar {
  background-color: darkblue !important;
}

::ng-deep .error-snackbar {
  background-color: #dd273a! important;
  color: black !important;
  font-size: 40px !important;
  text-align: center !important;
}

::ng-deep .modal-dialog {

  width: 500px;

}

.sessioncardscontainer {

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 25% 25% 25% auto;

  grid-gap: 1em;

  border: 10px outset gold;

  width: 100%;
  height: 20%;
  min-height: 400px;

  position: relative;

  padding: 2%;

}

.cardpreview .cardimage {
  max-width: 100%;
  max-height: 100%;
}

/*
@media (max-width: 1300px) {

  .cardcontainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}


@media (max-width: 990px) {

  .cardcontainer {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-height: 500px;
  }
}

@media (max-width: 650px) {

  .cardcontainer {
    grid-template-columns: repeat(3, 1fr);

  }
}*/

.cardpreview {

  position: relative;
  font-size: 10px;

  overflow: hidden;

  border-radius: 25px;

  border-style: solid;

}

.themecard {

  border-color: #b30000;
}

.cardpreview:hover {
  cursor: pointer;
  transform: scale(1.1);

}

#modal {

}

.cardimage {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);

  /*transition: opacity 1s ease-in-out;*/
  /*-moz-transition: opacity 1s ease-in-out;*/
  /*-webkit-transition: opacity 1s ease-in-out;*/

}

.cardimage:hover {

  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;

}

.cardtext {

  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardselectcontainer {

  display: flex;
  flex-direction: row;

}

#supercontainer {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3%;

}

#commenterror {

}

#confirm {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  font-size: larger;
}

#selectedCards {
  font-size: larger;
  max-height: 20%;
}
