@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#roundduration > div {
  width: 22%;
  margin-right: 2%;
}

#nrcardsmax {
  width: 13%;
}

#nrcardsmin {
  width: 13%;
}

#nrofcircles {

  width: 18%;
}

#nrofrounds {
  width: 18%;
}

#circletyperadio > div {
  margin-left: 2%;
}

.alert-error {
  color: red;
}

.customerror {
  margin-top: 2%;
}

table {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

.mat-row:hover {
  background: inherit;
}

h1 {
  margin: 5px;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

mat-row:hover {

}

.deletebutton:hover {
  cursor: pointer;
}

.clonebutton:hover {
  cursor: pointer;
}

.sessiontable i {
  padding-right: 3%;
}

#userinvitemodal {

}

.invitebutton:hover {
  cursor: pointer;
}

#clonebutton:hover {
  cursor: pointer;
}


#entersessionbutton:hover {

  cursor: pointer;

}

.userinvitebutton {
  margin-right: 2%;
}

mat-chip {

}

mat-chip-list {
  width: 100%;
}

#joinSession:hover {
  cursor: pointer;
}

.createbutton {
  margin-top: 1%;
  margin-left: 1%;
}

.mat-raised-button:focus {
  outline: 0;
}

h3 {
  margin-top: 1%;
}
