<mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="_setDataSource($event)">
  <!-- TAB ORGANISER -->
  <mat-tab label="Organiser">
    <h3>Sessions for Organiser</h3>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="text-center">
      <p class="lead" *ngIf="loading">Loading...</p>
    </div>

    <div *ngIf="!loading" class="example-container mat-elevation-z8">
      <mat-table class="sessiontable" #sessiontable #matSort1="matSort" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{convertChanceCircle(session.chanceCircle)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> startTime</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.startTime | date:'MMM d, yyyy, H:mm z'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
          <mat-cell *matCellDef="let session">
            <i (click)="openUserModal(userinvitemodal, session.id)" id="userinvitebutton"
               class="fa fa-user-plus invitebutton"></i>
            <i (click)="deleteSessionClick(session)" id="deletesessionbutton"
               class="fa fa-trash" deletebutton></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let session; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <button mat-raised-button class="createbutton" id="sessionCreate" (click)="openSessionModal(newsessionmodal)"
            color="warn">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
  <!-- TAB PARTICIPANT -->
  <mat-tab label="Participant">
    <h3>Sessions as participant</h3>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="text-center">
      <p class="lead" *ngIf="loading">Loading...</p>
    </div>

    <div *ngIf="!loading" class="example-container mat-elevation-z8">
      <mat-table class="sessiontable" #sessiontable2 #matSort2="matSort" [dataSource]="dataSource2" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{convertChanceCircle(session.chanceCircle)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> startTime</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.startTime | date:'MMM d, yyyy, H:mm z'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
          <mat-cell *matCellDef="let session">
            <i *ngIf="statusOpen(session)" (click)="joinSession(session.id)" id="joinSession"
               class="fa fa-directions"></i>
            <i *ngIf="statusClosed(session)" (click)="historySession(session.id)" id="historySession"
               class="fa fa-history"></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let session; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator2 [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <!-- TAB FROM THEME -->
  <mat-tab label="{{theme.name}}" *ngIf="fromTheme">
    <h3>Sessions for Theme: {{theme.name}}</h3>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="text-center">
      <p class="lead" *ngIf="loading">Loading...</p>
    </div>

    <div *ngIf="!loading" class="example-container mat-elevation-z8">
      <mat-table class="sessiontable" #sessiontable3 #matSort3="matSort" [dataSource]="dataSource3" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.state}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{convertChanceCircle(session.chanceCircle)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> startTime</mat-header-cell>
          <mat-cell *matCellDef="let session"> {{session.startTime | date:'MMM d, yyyy, H:mm z'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
          <mat-cell *matCellDef="let session">
            <i (click)="openUserModal(userinvitemodal, session.id)" id="userinvitebutton3"
               class="fa fa-user-plus invitebutton"></i>
            <i (click)="deleteSessionClick(session)" id="deletesessionbutton3"
               class="fa fa-trash deletebutton"></i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let session; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginator3 [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <button mat-raised-button class="createbutton" id="cardcreatebutton3" (click)="openSessionModal(newsessionmodal)"
            color="warn">
      <mat-icon>add</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>

<ng-template id="userinvitemodal" #userinvitemodal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="usermodal-basic-title">Invite users to session</h4>
    <button #cancel type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="userform">
    <div class="modal-body">
      <mat-form-field style="width: 100%" class="chip-list full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let usermail of usermails" [selectable]="selectable"
                    [removable]="removable" (removed)="removeTag(usermail)">
            {{usermail}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input id="mailList" [ngClass]="{ 'is-invalid': userformsubmitted && userformcontrols.usermails.errors }"
                 placeholder="New User..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTag($event)">
          <div *ngIf="invalidmailformat" class="text-danger">
            <div>Invalid email format!</div>
          </div>
        </mat-chip-list>
      </mat-form-field>

      <button mat-raised-button class="userinvitebutton" id="submitusermails" color="primary"
              (click)="onUserListSubmit(modal)" type="button">Invite
      </button>

      <button mat-raised-button class="userinvitebutton" id="cancelusermails" color="warn"
              (click)="modal.dismiss('cancel')" type="button">
        Cancel
      </button>
    </div>
  </form>

</ng-template>

<ng-template id="modal" #newsessionmodal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="sessionmodal-basic-title">Create a new session</h4>
    <button #cancel type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="sessionform">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" class="form-control" matInput placeholder="Session name"
               [ngClass]="{ 'is-invalid': sessionformsubmitted && sessionformcontrols.name.errors }">
        <div *ngIf="sessionformsubmitted && sessionformcontrols.name.errors" class="invalid-feedback">
          <div *ngIf="sessionformcontrols.name.errors.required">Name is required</div>
          <div *ngIf="sessionformcontrols.name.errors.minlength">Name should be at least 8 characters long!</div>
        </div>
      </div>

      <mat-label for="theme">Select a Theme*</mat-label>
      <mat-form-field>
        <mat-select id="theme" placeholder="Theme" formControlName="theme" class="form-control"
                    [ngClass]="{ 'is-invalid': sessionformsubmitted && sessionformcontrols.theme.errors }"
                    [(ngModel)]="theme.id">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let theme of themesFromUser" [value]="theme.id">
            {{theme.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-group">
        <label for="nrofrounds">Nr. of Circles</label>
        <input (keydown)="disableNumberInputEdit($event)" id="nrofcircles" type="number" min="1" max="8"
               formControlName="nrofcircles"
               class="form-control"
               [ngClass]="{ 'is-invalid': sessionformsubmitted && sessionformcontrols.nrofcircles.errors }" matInput
               placeholder="Nr. Of Circles">
      </div>

      <div class="form-group">
        <label for="nrofrounds">Nr. of Rounds</label>
        <input (keydown)="disableNumberInputEdit($event)" id="nrofrounds" type="number" min="1"
               formControlName="nrofrounds"
               class="form-control"
               matInput
               placeholder="Nr. Of Rounds">
      </div>

      <div>
        <mat-checkbox class="checkBox" (click)="toggletimelimit()">Round time limit?</mat-checkbox>
      </div>

      <label *ngIf="roundtimelimit" for="roundduration">Round duration ( minutes)</label>
      <div *ngIf="roundtimelimit" class="form-group form-inline" id="roundduration">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="hoursprepend">m</span>
          </div>
          <input (keydown)="disableNumberInputEdit($event)"
                 [ngClass]="{ 'is-invalid': sessionformsubmitted && sessionformcontrols.rounddurationminutes.errors }"
                 id="rounddurationminutes" formControlName="rounddurationminutes" type="number" min="1"
                 class="form-control" matInput placeholder="Round duration" aria-describedby="hoursprepend">
        </div>
      </div>

      <div class="form-group cardlimitinput">
        <label (keydown)="disableNumberInputEdit($event)" for="nrcardsmin">Min. nr of Cards</label>
        <input id="nrcardsmin" type="number" min="1" max="12" formControlName="mincardsnr"
               class="form-control" matInput placeholder="Nr.">
      </div>

      <div class="form-group cardlimitinput">
        <label (keydown)="disableNumberInputEdit($event)" for="nrcardsmax">Max. nr of Cards</label>
        <input id="nrcardsmax" type="number" min="1" max="12" formControlName="maxcardsnr"
               class="form-control" matInput placeholder="Nr.">
      </div>

      <div class="form-group form-inline" id="circletyperadio">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="circletype" id="exampleRadios1"
                 formControlName="circletype" value="problem">
          <label class="form-check-label" for="exampleRadios1">
            Problem
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="circletype" id="exampleRadios2"
                 formControlName="circletype" value="chance">
          <label class="form-check-label" for="exampleRadios2">
            Chance
          </label>
        </div>
      </div>

      <div class="form-group">
        <div>
          <mat-checkbox class="checkBox" (click)="togglespecificstarttime()">Specific start time?</mat-checkbox>
        </div>

        <div *ngIf="specificstarttime">
          <label class="label" for="starttime">Session start date</label>
        </div>

        <mat-form-field *ngIf="specificstarttime">
          <input (dateChange)="change($event)" [ngModelOptions]="{standalone: true}"
                 [ngClass]="{ 'is-invalid': customSessionStartDateRequiredError}" [ngModel]="date" class="form-control"
                 matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div *ngIf="customSessionStartDateRequiredError && specificstarttime">
          <span style="color: red" class="error">Please specify a startdate!</span>
        </div>

        <ngb-timepicker *ngIf="specificstarttime" id="starttime" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="time"></ngb-timepicker>
      </div>

      <button mat-raised-button id="submitsession" color="primary" (click)="onNewSessionSubmit(modal)" type="button">
        Submit
      </button>


      <div *ngIf="sessionformsubmitted && customSessionMixMaxCardsCreateError" class="alert-error customerror">
        Max nr. of cards should be greater than min nr of cards!
      </div>
    </form>
  </div>
</ng-template>
