<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Theme Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" #name [(ngModel)] = "editTheme.name" />
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Theme Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Theme description </label>
        <input id="description" type="text" class="form-control" formControlName="description" #description [(ngModel)] = "editTheme.description" />
      </div>
      <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['description'].errors.required">
          Theme description is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tag</label>
        <input type="text" class="form-control" formControlName="tag" #tag [(ngModel)] = "editTheme.tag" />
      </div>
      <div class="form-group">
        <button id="updateTheme"
                [disabled]="angForm.invalid"
                class="btn btn-primary" (click)="updateTheme()" id="updateTheme">Update Theme</button>
      </div>
    </form>
  </div>
</div>
