
<div class="addCard">
  <button mat-raised-button id="cardcreatebutton" (click)="open(content)" color="warn">
    <mat-icon>add</mat-icon>
  </button>
</div>

<input #fileInput id="fileInput" accept="image/x-png,image/gif,image/jpeg" hidden type="file" (change)="fileChange($event.target.files)">

<ng-template id="modal" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new card</h4>
    <button #cancel type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="cardform">
      <div class="form-group">
        <div class="input-group">
          <input [(ngModel)]="name" id="name" type="text" formControlName="name" class="form-control" matInput placeholder="Kaart text"
                 [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

          <!--&lt;!&ndash; Volgende input is hidden om toch validatie te tonen op bovenstaande input !&ndash;&gt;-->
          <!--<input hidden id="name" type="text" formControlName="name" class="form-control"-->
          <!--[ngClass]="{ 'is-invalid': submitted && f.name.errors }">-->
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div id="nameReq" *ngIf="f.name.errors.required">Name is required</div>
            <div id="nameSize" *ngIf="f.name.errors.minlength">Name should be at least 8 characters long!</div>
          </div>
        </div>
        <br>
        <mat-checkbox class="checkBox"  (click)="toggle()">Afbeelding toevoegen?</mat-checkbox>
      </div>
      <div *ngIf="imageboxchecked" class="modal-footer">
        <div id="imageuploadbutton">
          <span> choose an image :      </span>
          <button mat-stroked-button (click)="openInput()" color="warn">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </div>
      <div>
        <p>Voorbeeld kaartje:</p>

        <div id="cardpreview"  *ngIf="imageSrc || name" class="container">
          <img  id="cardimage" *ngIf="imageSrc" [src]='imageSrc' style="width: 100%; height: 100%"/>
          <div id="cardtext">{{name}}</div>
        </div>

        <!--<mat-card class="example-card" style="height:140px;width:120px">
          <mat-card-content>
            <img *ngIf="imageSrc!=null" mat-card-image [src]=imageSrc style="height:80px;width:80px" alt="Kaart-afbeelding">
            <p maxlength="50">
              {{name}}
            </p>
          </mat-card-content>
        </mat-card>-->
      </div>
      <button id="submitcard" class="btn btn-outline-success" type="button" (click)="postCard();this.validated && modal.close()">Submit</button>

    </form>
  </div>
</ng-template>

