<mat-sidenav-container  class="sidenav-container" id="content">
  <mat-sidenav id="drawer" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" (click)="drawer.toggle()">Homepage</a>
      <a mat-list-item routerLink="themes" (click)="drawer.toggle()">Themes</a>
      <a mat-list-item routerLink="sessions" (click)="drawer.toggle()">My Sessions</a>
      <a mat-list-item routerLink="session" (click)="drawer.toggle()">Active Session</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="header">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>kandoewebclient</span>

      <span id="userName" *ngIf="currentUserAvailable()" style="padding-left: 70%">{{getCurrentUser()}}</span>
      <span *ngIf="userAvatarAvailable()"><img src={{userAvatar}} id="avatarImg"></span>
      <span class="filler"></span>

      <button *ngIf="!currentUserAvailable()" mat-button routerLink="register">Register</button>
      <button *ngIf="!currentUserAvailable()" mat-button routerLink="login">Login</button>
      <button *ngIf="currentUserAvailable()" mat-button routerLink="update/:id">Edit profile</button>
      <button *ngIf="currentUserAvailable()" mat-button (click)="logout()">Logout</button>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
