.header {
  padding: 30px;
  text-align: center;
}

.row {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.imageText {
  font-size: large;
}

.buttons {
  text-align: center;
  margin-top: 5%;
}

.buttons button {
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
}
