<div class="header">
    <h1>KANDOE</h1>
    <h2>Welcome to Kandoe & Chill</h2>
</div>

<div class="row">
  <div class="column">
    <img src="../../assets/download.jpg">
    <p class="imageText">Solve Problems</p>
  </div>
  <div class="column">
    <img src="../../assets/decision.jpg">
    <p class="imageText">Make Decisions</p>
  </div>
  <div class="column">
    <img src="../../assets/FastEasy.png">
    <p class="imageText">Easy and Fast</p>
  </div>
</div>

<div class="buttons">
  <!--
  <button mat-button><a href="../register">Register</button>
  <button mat-button><a href="../login">Log in</button>
  -->
</div>
